.service-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.service-header {
    text-align: center;
    margin-bottom: 20px;
}
.service-header h1 {
    font-size: calc(1.325rem + 0.9vw);
    color: #333;
}
.service-header p {
    font-size: 14px;
    color: #666;
}
.service-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.service-grid-item {
    width: 18%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 5px;
}
.service-grid-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 5px;
}
.service-grid-item p {
    padding: 10px;
    font-size: 14px;
    color: #333;
}
.service-button-container {
    text-align: center;
    margin-top: 20px;
}
.service-button-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}
.service-button-container a:hover {
    background-color: white;
    color: black;
    border: 1px solid #007bff;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .service-grid-item {
        width: 23%;
    }
}

@media (max-width: 992px) {
    .service-grid-item {
        width: 31%;
    }
}

@media (max-width: 768px) {
    .service-container {
        width: 90%;
    }
    .service-grid-item {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .service-grid-item {
        width: 100%;
    }
    .service-grid-item img {
        height: 200px;
    }
}
