
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.navbar {
    padding: 1rem;
    background-color: white;
    transition: all 0.3s;
}

.navbar-brand .logo-text {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.navbar-brand .logo-subtext {
    font-size: 0.9rem;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0;
}

.nav-link:hover {
    background-color: #f8f9fa;
}

.nav-item{
    margin-right: 15px;
}

.navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link a:hover{
    color: #333;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-item {
        margin-bottom: 0.5rem; 
    }
}


/* home banner*/


.home-banner {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1512207724313-a4e675ec79ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWFrZXVwfGVufDB8fDB8fHww');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -11;
    margin-top: -5rem;
}

.home-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}

.about-banner {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1512207724313-a4e675ec79ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWFrZXVwfGVufDB8fDB8fHww');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -11;
    margin-top: -5rem;
}



.about-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}

.banner-content {
    position: relative;
    text-align: center;
    z-index: 1; 
}

.banner-content h1 {
    font-size: 48px;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    letter-spacing: 5px;
    font-weight: 300;
}

.banner-content p {
    font-size: 24px;
    margin: 10px 0;
    letter-spacing: 10px;
}



.contact-banner {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1512207724313-a4e675ec79ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWFrZXVwfGVufDB8fDB8fHww');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -11;
    margin-top: -5rem;
}

.contact-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}


.contact-details {
    padding: 20px;
}
.contact-details h3 {
    margin-top: 0;
}
.contact-details p {
    margin-bottom: 10px;
}
.contact-form {
    padding: 20px;
}
.contact-form input, .contact-form select, .contact-form textarea {
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: #fff;
    border: 1px solid #555;
}
.contact-form button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
}



.service-banner {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1512207724313-a4e675ec79ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWFrZXVwfGVufDB8fDB8fHww');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -11;
    margin-top: -5rem;
}


.service-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}



.brand-container {
    text-align: center;
    margin-top: 2rem;
}

.brand-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    margin: 0;
    transition: color 0.3s ease-in-out;
}

.brand-tagline {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    margin:0;
    transition: color 0.3s ease-in-out;
}

.brand-name:hover, .brand-tagline:hover {
    color: #555;
}

@media (max-width: 768px) {
    .brand-name {
        font-size: 2.5rem;
    }
    
    .brand-tagline {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .brand-name {
        font-size: 2rem;
    }
    
    .brand-tagline {
        font-size: 1.2rem;
    }
}




.about-section {
    display: flex;
    padding: 50px;
   
    color: #fff; 
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 100%;
    height: 30dvw;
    border-radius: 5px;
}

.about-content {
    flex: 1;
    padding: 0 20px;
    margin-top: 2rem;
}

.about-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 100;
    color: black;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-bottom: 20px;
    max-width: 600px;
    color: black;
}



/* Responsive styles */
@media screen and (max-width: 1024px) {
    /* Tablet styles */
    .banner-content h1 {
        font-size: 36px;
    }

    .banner-content p {
        font-size: 18px;
    }

    .about-section {
        flex-direction: column;
    }

    .about-image img {
        height: auto;
        max-width: 100%;
    }


    #h2::after {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    /* Mobile styles */
  

    .about-content h2 {
        font-size: 28px;
    }

    .about-content p  {
        font-size: 16px;
    }


    .modal {
        padding: 40px 20px;
    }

    .modal h1 {
        font-size: 2em;
    }

   
}

@media screen and (max-width: 480px) {
    /* Small mobile styles */
    .banner-content h1 {
        font-size: 24px;
    }

    .banner-content p {
        font-size: 14px;
        letter-spacing: 3px;
    }

   
}



/*modal css*/

.modal-container {
    background-image: url('https://images.unsplash.com/photo-1500840216050-6ffa99d75160?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1ha2V1cHxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 1.5rem;
    padding: 60px 40px;
    text-align: center;
    color: black;
    position: relative;
    margin-bottom: 2rem;
}

.modal-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal-content-container {
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
}

p {
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.button:hover {
    background-color: white;
    color: black;
}

/*modal css*/




a:link,a:active,a:visited,a:hover{
	color:#3f51b5;
}

.outerdiv
{
	width: 100%;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: black;
    grid-column: 1/3;
    grid-row: 1/2;
    background-position-x: 25rem;
}
.div2
{
	background :white;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: black;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: black;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}



.footer {
    background-image: url('https://media.istockphoto.com/id/1494935138/photo/organic-cosmetics-with-ingredients.webp?b=1&s=170667a&w=0&k=20&c=093MogHUdEKEgX_d7X6BU9FBG4WoYJr4_3MzKMti008=');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 50px 0;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-section h3 {
    color: white;
    margin-bottom: 20px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
}

.footer-section p, .footer-section a {
    color: #ffffff;
    text-decoration: none;
    line-height: 1.6;
}

.social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff69b4;
}

.newsletter form {
    display: flex;
    margin-top: 15px;
}

.newsletter input[type="email"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.newsletter button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter button:hover {
    background-color: black;
}

.footer-bottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin: 10px 20px;
    }
}


