* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.about-banner {
    position: relative;
    background: url('image/makeup-about-banner.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: -5rem;
    z-index: -11;
}

.overlay{
    margin-top: 2rem;
}

.about-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}

#h3::after {
    content: '';
    display: block;
    width: 90px;
    height: 0.5px;
    background-color: #ff4081;
    margin-top: 15px;
    margin-left: 16rem
    
}


.about-banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 7px;
}

.about-banner p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .about-banner h1 {
        font-size: 2em;
    }

    .about-banner p {
        font-size: 1em;
    }
}
